
/data_testing/node_modules

node_modules/
env/
*.pyc
package-lock.json

raw_data/*
prepared_data/*

manipulate_properties/past_month_earthquakes.geojson
manipulate_properties/past_month_earthquakes_withlatlon.geojson

# Connection credentials
keys/
key/
.env

