
/data_testing/node_modules

node_modules/
env/
*.pyc
package-lock.json

raw_data/*
prepared_data/*

manipulate_properties/past_month_earthquakes.geojson
manipulate_properties/past_month_earthquakes_withlatlon.geojson

export_to_json/all_earthquakes.json
export_top_to_csv/top_200_earthquakes.csv

# Connection credentials
keys/
key/
.env

node_modules/
env/
*.pyc
package-lock.json

raw_data/*
prepared_data/*
*.geojson
*.jsonl

# Connection credentials
keys/
.env
.DS_Store