@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap|Roboto');

h1{
  font-family: 'Bebas Neue', cursive;
  margin: 1;
  color: white;
  display: inline;
  font-size: 38px;
  letter-spacing: 1.8px;
}


header span {
  font-family: 'Bebas Neue';
  color:#F44942;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 500;
  top: 60%;
  left: 60%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 10%;
  transition: background-size .7s, background-position .5s ease-in-out;
}

header span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

body {
    height: 100vh;
    margin: 0;
    background-color: rgb(27, 27, 27);
    font-family: Helvetica, Arial, sans-serif;
}

header {
  height: 5rem;
  padding: 1rem;
  box-sizing: border-box;
}

main {
  height: calc(100vh - 5rem);
}

#map {
    width: 100vw;
    height: 60vh;
    margin: 0;
    background: #2C353C;
}
  
#control-panel {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  background: #6d738fc9;
  top: 5rem;
  right: 0;
  margin: 12px;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
}

.options {
  display: flex;
  height: 20px;
  align-items: center;
}

label {
  display: inline-block;
  width: 120px;
  font-size: 14px;
  color: white;
}

.slider {
  width: 110px;
  cursor: pointer;
  display: inline-flex;
}

.widget {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: rgb(71, 71, 71);
  overflow: hidden;
  border-radius: 99px;
  cursor: inherit;
}

.widget::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  box-shadow: -200px 0 0 200px  #fff;
}

.slider:hover .widget::-webkit-slider-thumb {
  box-shadow: -200px 0 0 200px rgb(103, 139, 255);
  transition: 0.2s;
}

span {
  margin-left: 8px;
  width: 50px;
  font-size: 14px;
  color: white;
}

.chart-series {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.chart {
  height: calc(100vh - 50vh - 5rem);
  width: calc(100vh - 50vh - 5rem);
  padding: 1rem;
  box-sizing: border-box;
}

.chart .title {
  fill: white;
}

.description {
  width: 60%;
  font-size: 14.5px;
  line-height: 1.4; 
  padding: 8px;
  color: white;
  font-family: 'Roboto', sans-serif;
}